<div class="new_form" id="newForm">
   <div class="input-container">
   <i class="fa fa-user icon"></i>
   <input class="input-field" type="text" placeholder="University Name" name="uniname" required>
</div>

<div class="input-container">
   <i class="far fa-calendar-alt icon"></i>
   <input class="input-field" type="text" onfocus="(this.type='date')" placeholder="Registeration Date" name="registeration_date" required>
</div>

<div class="input-container">
   <i class="far fa-calendar-alt icon"></i>
   <input class="input-field" type="text" onfocus="(this.type='date')" placeholder="Expiry Date" name="expiry_date" required>
</div>

<div class="input-container">
   <i class="far fa-image icon"></i>
   <input class="input-field" type="url" placeholder="image URL" name="imageurl" required>
</div>

<div class="input-container">
   <i class="fas fa-user-graduate icon"></i>
   <input class="input-field" type="number" placeholder="Number Of Students" name="number_of_students" required>
</div>

<div class="input-container">
   <i class="fa fa-envelope icon icon"></i>
   <input class="input-field" type="text" placeholder="Email" name="email" required>
</div>

<div class="input-container">
   <i class="fab fa-chrome icon"></i>
   <input class="input-field" type="url" placeholder="Website URL" name="weburl" required>
</div>

<div class="input-container">
   <i class="fas fa-phone icon"></i>
   <input class="input-field" type="number" placeholder="contact number" name="contact_number" required>
</div>
</div>