<link rel="stylesheet" href="/css/signIn.css">

<div id="id01" class="modal">
  
  

  <form class="modal-content animate" action="/users/create-Session" method="post">

    <div class="imgcontainer">
      <img src="/images/avatar.png" alt="Avatar" class="avatar">
    </div>

    <h1>LOGIN</h1>

    <div class="container">
      <label for="uname"><b>User ID</b></label>
      <input type="text" placeholder="Enter Username" name="user_id" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      
      <button type="submit">SUBMIT</button>

    </div>

  </form>
</div>