<table id="tables" class="users">
   <tr>
      <th class="row-1 row-ID">vid</th>
      <th class="row-2 row-name">name</th>
      <th class="row-3 row-date">registeration date</th>
      <th class="row-4 row-date">expiry date</th>
      <th class="row-5 row-url">url</th>
      <th class="row-6 row-student">students</th>
      <th class="row-7 row-email">mail</th>
      <th class="row-8 row-url">website</th>
      <th class="row-9 row-number">contact number</th>
      <th class="row-10 row-icon">edit</th>
      <th class="row-11 row-icon">delete</th>
   </tr>
</table>

<div id="traversal_buttons">
   <i id="previous-page" class="fas fa-angle-double-left"></i>
   <i id="next-page" class="fas fa-angle-double-right"></i>
</div>